<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonOpenGLESImge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenGLESImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844050511A1C4626003D5F28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844098B41A19E7F6009E903E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844098BE1A19E7F6009E903E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844098D21A19E9C6009E903E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844098DC1A19E9C6009E903E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8449FE451A1C352700E902C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8468AC5B1A1B27D10068766F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F7F2451A1C367400CA32DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B401431E18B4AB3B00BC6480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B401432E18B4AB3B00BC6480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
